{% extends 'partials/base.html' %}
{% block title %}Credencial de Cliente{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/topnav_pos.html' %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Credencial de Cliente
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Información del Cliente</span>
                            <hr>
                            <!-- Renderizar información del cliente -->
                            <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nombre</th>
                                        <td>{{ customer.customer_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo Electrónico</th>
                                        <td>{{ customer.c_email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>{{ customer.c_phone }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribuidor</th>
                                        <td>{{ customer.status }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ customers.image.url }}" alt="Imagen de Cliente">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
