{% extends 'partials/base.html'%}
{% block title %} Pedidos {% endblock %}
    
{% block content %}

{% include 'partials/topnav_pos.html' %}

  <!--Table-->
  <div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Código</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                {% for current_order in current_orders %}
                    <tr>
                    <th scope="col">{{ current_order.product.code }}</td>
                    <td>{{ current_order.product.name }}</td>
                    <td>{{ current_order.order_quantity }}</td> 
                    <td>{{ current_order.customer }}</td>
                    <td>{{ current_order.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3 class="btn btn-info">
                <a class="nav-link" href="{% url 'dashboard-order-csv' %}"> Exportar </a>
            </h3>
        </div>
    </div>
</div>

<!--End Table-->
{% endblock %}