{% extends 'partials/base.html'%}
{% block title %} Pro Aires {% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        {% include 'partials/topnav.html' %}
        <div class="container">
            <div class="row my-4">
                <div class="col">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <h4>
                                Próximas Entregas
                            </h4>
                            <tr class="text-white">
                                <th scope="col">Nombre</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Fecha de Recolección</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.type }}</td>
                                <td>{{ item.total_quantity|default:"0" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'dashboard/staff_index.html'%}
    {% endif %}
{% endblock %}
