{% extends 'partials/base.html'%}
{% block title %} Lista de Precios {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/topnav_pos.html' %}

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{message}}
                </div>
                {% endif %}
                {% endfor%}

                <div class="border bg-white p-3">
                    <h4>Dar Alta Precio</h4>
                    <hr>
                    <form method ="POST">
                        {% csrf_token %}
                        {{form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Añadir">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Nombre</th>
                            <th scope="col" class="text-center">Público En General</th>
                            <th scope="col" class="text-center">Precio Técnico</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <th scope="row">{{ producto.name }}</th>
                            <td class="text-center">{{ producto.precio_gral }}</td>
                            <td class="text-center">{{ producto.precio_d0 }}</td>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="btn btn-primary">
                    <a class="nav-link" href="{% url 'dashboard-precio-registro' %}"> Lista Completa </a>
                </h3>
            </div>
        </div>

    </div>

    <!--End Table-->


{% endblock %}